<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>
</head>
<body>

<h2>Patients List</h2>
<form method ="post" action="{% url 'searchPatients' %}">
    {% csrf_token %}
    <input type="text" name="searchVariable" placeholder="Search for names.." title="Type in a name">
    <button type="submit">Search</button>
</form>
<a href="{% url 'listpatients' %}"><button type="submit">Back</button></a>
<table id="myTable">
  <tr class="header">
    <th style="width:30%;">Name</th>
    <th style="width:20%;">Age</th>
    <th style="width:20%;">Doctor</th>
    <th style="width:20%;">Department</th>
  </tr>
  {% for i in result %}
  <tr>
    <td>{{i.name}}</td>
    <td>{{i.age}}</td>
    <td>{{i.doctor.employmentId}}</td>
    <td>{{i.department.departmentName}}</td>
  </tr>
  {% endfor %}
</table>



</body>
</html>
